Repository huub-l/mkdo-base: changes, and which lint-staged commands are due for each by the changed paths.
All: stylelint --fix, stylelint --fix --syntax=scss, eslint --fix, prettier --write

.lintstagedrc.json:

{
	"*.css": ["stylelint --fix", "git add"],
	"*.scss": ["stylelint --fix --syntax=scss", "git add"],
	"*.js": ["eslint --fix", "git add"],
	"*.{js,scss,md,html}": ["prettier --write", "git add"]
}

test fail css
  assets/scss/5_templates/_template-archive.scss
Due: stylelint --fix --syntax=scss, prettier --write

max warnings
  .lintstagedrc.json
Due: none

x
  assets/scss/5_templates/_template-archive.scss
Due: stylelint --fix --syntax=scss, prettier --write

move static template
  build/wp-content/themes/my-project/page-static.php
Due: none

remove meta function and partial
  build/wp-content/themes/my-project/inc/extras.php
  build/wp-content/themes/my-project/partials/components/meta.php
Due: none

mixin rename and changes
  assets/scss/1_globals/_helpers.scss
  assets/scss/1_globals/mixins/_layout.scss
  assets/scss/1_globals/mixins/_typography.scss
  assets/scss/1_globals/static-styleguide/_styleguide.scss
  assets/scss/2_components/_typography.scss
Due: stylelint --fix --syntax=scss, prettier --write

add track-focus
  assets/js/footer.js
Due: eslint --fix, prettier --write

change webpack css process
  assets/js/header.js
  assets/scss/editor.scss
  build/wp-content/themes/my-project/inc/enqueue-assets.php
  build/wp-content/themes/my-project/inc/theme-setup.php
  package.json
  webpack.config.js
Due: stylelint --fix --syntax=scss, eslint --fix, prettier --write

lint-staged fix
  .lintstagedrc.json
Due: none

js sourcemaps on dev tasks
  webpack.config.js
Due: eslint --fix, prettier --write

stylelint rule ignore fix
  .stylelintrc.js
Due: eslint --fix, prettier --write

rm header.js and asset prefix enqueues
  assets/js/footer.js
  assets/js/header.js
  build/wp-content/themes/my-project/inc/enqueue-assets.php
  webpack.config.js
Due: eslint --fix, prettier --write

fix webpack
  webpack.config.js
Due: eslint --fix, prettier --write

minor fix to single.php
  build/wp-content/themes/my-project/single.php
Due: none

editor.css fix
  assets/scss/editor.scss
  build/wp-content/themes/my-project/inc/enqueue-assets.php
  build/wp-content/themes/my-project/inc/theme-setup.php
Due: stylelint --fix --syntax=scss, prettier --write

scss changes
  assets/scss/1_globals/mixins/_layout.scss
  assets/scss/1_globals/variables/_colours.scss
Due: stylelint --fix --syntax=scss, prettier --write

additions to entry-content css
  assets/scss/3_modules/_entry-content.scss
Due: stylelint --fix --syntax=scss, prettier --write

partials php remove
  build/local-config.php
  build/wp-content/themes/my-project/footer.php
  build/wp-content/themes/my-project/header.php
  build/wp-content/themes/my-project/inc/extras.php
  build/wp-content/themes/my-project/inc/template-tags.php
  build/wp-content/themes/my-project/partials/components/button.php
  build/wp-content/themes/my-project/partials/structures/site-footer.php
  build/wp-content/themes/my-project/partials/structures/site-header.php
Due: none

sg style fix
  assets/scss/1_globals/static-styleguide/_styleguide.scss
Due: stylelint --fix --syntax=scss, prettier --write

example icons for sg
  assets/scss/1_globals/static-styleguide/_flags.scss
  assets/svgs/icon-chat.svg
  assets/svgs/icon-check-circle.svg
  assets/svgs/icon-cheveron-right.svg
  assets/svgs/icon-code.svg
  assets/svgs/icon-download.svg
  assets/svgs/icon-mail.svg
  assets/svgs/icon-map.svg
  assets/svgs/icon-menu.svg
  assets/svgs/icon-news.svg
  assets/svgs/icon-notification.svg
  assets/svgs/icon-search.svg
  assets/svgs/icon-trash.svg
  build/wp-content/themes/my-project/assets/svgs/icon-chat.svg
  build/wp-content/themes/my-project/assets/svgs/icon-check-circle.svg
  build/wp-content/themes/my-project/assets/svgs/icon-cheveron-right.svg
  build/wp-content/themes/my-project/assets/svgs/icon-code.svg
  build/wp-content/themes/my-project/assets/svgs/icon-download.svg
  build/wp-content/themes/my-project/assets/svgs/icon-mail.svg
  build/wp-content/themes/my-project/assets/svgs/icon-map.svg
  build/wp-content/themes/my-project/assets/svgs/icon-menu.svg
  build/wp-content/themes/my-project/assets/svgs/icon-news.svg
  build/wp-content/themes/my-project/assets/svgs/icon-notification.svg
  build/wp-content/themes/my-project/assets/svgs/icon-search.svg
  build/wp-content/themes/my-project/assets/svgs/icon-trash.svg
  build/wp-content/themes/my-project/partials/components/icons.php
Due: stylelint --fix --syntax=scss, prettier --write

svgo fix
  assets/svgs/icon-chevron-right.svg
  build/wp-content/themes/my-project/assets/svgs/icon-chat.svg
  build/wp-content/themes/my-project/assets/svgs/icon-check-circle.svg
  build/wp-content/themes/my-project/assets/svgs/icon-cheveron-right.svg
  build/wp-content/themes/my-project/assets/svgs/icon-chevron-right.svg
  build/wp-content/themes/my-project/assets/svgs/icon-code.svg
  build/wp-content/themes/my-project/assets/svgs/icon-download.svg
  build/wp-content/themes/my-project/assets/svgs/icon-mail.svg
  build/wp-content/themes/my-project/assets/svgs/icon-map.svg
  build/wp-content/themes/my-project/assets/svgs/icon-menu.svg
  build/wp-content/themes/my-project/assets/svgs/icon-news.svg
  build/wp-content/themes/my-project/assets/svgs/icon-notification.svg
  build/wp-content/themes/my-project/assets/svgs/icon-search.svg
  build/wp-content/themes/my-project/assets/svgs/icon-trash.svg
  build/wp-content/themes/my-project/partials/components/button.php
  webpack.config.js
Due: eslint --fix, prettier --write

rm readme
  build/wp-content/themes/my-project/partials/readme.md
Due: prettier --write

mixin fixin
  assets/scss/1_globals/mixins/_layout.scss
Due: stylelint --fix --syntax=scss, prettier --write

fix from caspian
  .lintstagedrc.json
Due: none

#4 combine both return & get SVG functions
  build/wp-content/themes/my-project/inc/images.php
Due: none

#5 Various changes
  assets/js/footer.js
  assets/js/modules/toggles.js
  assets/svgs/icon-close.svg
  assets/svgs/icon-mobile-menu.svg
  build/wp-content/languages/admin-en_GB.mo
  build/wp-content/languages/admin-en_GB.po
  build/wp-content/languages/admin-network-en_GB.mo
  build/wp-content/languages/admin-network-en_GB.po
  build/wp-content/languages/en_GB-0ce75ad2f775d1cac9696967d484808c.json
  build/wp-content/languages/en_GB-1a0cd6a7128913b15c1a10dd68951869.json
  build/wp-content/languages/en_GB-1bba9045bb07c89671c88a3f328548e8.json
  build/wp-content/languages/en_GB-28b3c3d595952907e08d98287077426c.json
  build/wp-content/languages/en_GB-2c5d274ea625dd91556554ad82901529.json
  build/wp-content/languages/en_GB-68f2cec7514bf8563c723a4d675fcfe6.json
  build/wp-content/languages/en_GB-7f13c36c641b114bf18cd0bcc9ecc7e0.json
  build/wp-content/languages/en_GB-8860e58c20c6a2ab5876a0f07be43bd9.json
  build/wp-content/languages/en_GB-a25d1cc7bf7ca0b4e114f6bea64943f4.json
  build/wp-content/languages/en_GB-bf0f094965d3d4a95b47babcb35fc136.json
  build/wp-content/languages/en_GB-f8f49d9fc4a9cf7d78ec99285417bd9c.json
  build/wp-content/languages/en_GB.mo
  build/wp-content/languages/en_GB.po
  build/wp-content/themes/my-project/assets/svgs/icon-close.svg
  build/wp-content/themes/my-project/assets/svgs/icon-mobile-menu.svg
  build/wp-content/themes/my-project/inc/theme-setup.php
  build/wp-content/themes/my-project/partials/structures/site-header.php
Due: eslint --fix, prettier --write

Disable file mods for users with makedo or email address that contains makedo
  build/wp-content/mu-plugins/mkdo-core/php/mkdo-core/security/class-disallow-file-mods.php
  build/wp-content/mu-plugins/mkdo-core/php/mkdo-core/security/const-disallow-file-mods.php
  build/wp-content/mu-plugins/mkdo-core/plugin.php
Due: none

Update wp-config.php
  build/wp-config.php
Due: none

Delete yarn.lock
  yarn.lock
Due: none

jQuery version to 3.4.0
  package.json
Due: none

add cookie util js
  assets/js/modules/cookie.js
Due: eslint --fix, prettier --write

Prevent user emuneration
  build/wp-content/mu-plugins/mkdo-core/php/mkdo-core/security/class-limit-login-attempts.php
Due: none

move browsers conf to package.json
  .postcssrc.js
  package.json
Due: eslint --fix, prettier --write

gitignore full theme assets dir
  .gitignore
Due: none

add yarn.lock and yarn upgrade
  yarn.lock
Due: none

ammend for list reset mixin
  assets/scss/1_globals/_helpers.scss
  assets/scss/1_globals/mixins/_resets.scss
  assets/scss/1_globals/static-styleguide/_styleguide.scss
Due: stylelint --fix --syntax=scss, prettier --write

rm closeToggles js
  assets/js/footer.js
  assets/js/modules/toggles.js
Due: eslint --fix, prettier --write
