Repository huub-l/mkdo-base: changes, and which lint-staged commands are due for each by the changed paths.
All: stylelint --fix, stylelint --fix --syntax=scss, eslint --fix, prettier --write

#43 - move assets js to separate file
  webpack.config.js
  wp-content/themes/my-project/assets/src/scripts/assets.js
  wp-content/themes/my-project/assets/src/scripts/footer.js
Due: eslint --fix, prettier --write

#43 - fix admin js and css enqueue
  wp-content/themes/my-project/includes/enqueue-assets.php
Due: none

#43 - update all deps and replace some deprecated
  package.json
  yarn.lock
Due: none

#43 - test fixed linting
  wp-content/themes/my-project/assets/src/scripts/admin.js
  wp-content/themes/my-project/assets/src/scripts/customizer.js
  wp-content/themes/my-project/assets/src/scripts/footer.js
  wp-content/themes/my-project/assets/src/scripts/modules/skip-link.js
  wp-content/themes/my-project/assets/src/scripts/modules/style-guide.js
  wp-content/themes/my-project/assets/src/scripts/modules/toggles.js
  wp-content/themes/my-project/assets/src/scripts/modules/track-focus.js
  wp-content/themes/my-project/assets/src/scripts/modules/user-agent-classes.js
  wp-content/themes/my-project/assets/src/scripts/modules/utils.js
Due: eslint --fix, prettier --write

#43 - test fixed linting 2
  wp-content/themes/my-project/assets/src/scripts/README.md
Due: prettier --write

#43 - upgrade linting, replace livereload, fix file cleaning, replace eslint plugin, fix source-maps
  .husky/.gitignore
  .husky/pre-commit
  package.json
  webpack.config.js
Due: eslint --fix, prettier --write

#43 - update gitignore
  .gitignore
Due: none

#43 - updates to tooling
  .husky/.gitignore
  .stylelintrc.js
  package.json
  webpack.config.js
  yarn.lock
Due: eslint --fix, prettier --write

Path conditions:
  stylelint --fix: any of: *.css
  stylelint --fix --syntax=scss: any of: *.scss
  eslint --fix: any of: *.js
  prettier --write: any of: *.{js,scss,md,html}
