Repository huub-l/mkdo-base: changes, and which lint-staged commands are due for each by the changed paths.
All: stylelint, stylelint --syntax=scss, eslint --fix, prettier --write

.lintstagedrc.json:

{
	"*.css": ["stylelint", "git add"],
	"*.scss": ["stylelint --syntax=scss", "git add"],
	"*.js": ["eslint --fix", "git add"],
	"*": ["prettier --write", "git add"]
}

rm tests
  assets/js/footer.js
  assets/scss/style.scss
Due: stylelint --syntax=scss, eslint --fix, prettier --write

test block empty
  .lintstagedrc.json
  .stylelintrc.js
  yarn.lock
Due: eslint --fix, prettier --write

test fail scss
  assets/scss/5_templates/_template-archive.scss
Due: stylelint --syntax=scss, prettier --write

test fail css
  assets/scss/5_templates/_template-archive.scss
Due: stylelint --syntax=scss, prettier --write

max warnings
  .lintstagedrc.json
Due: prettier --write

x
  assets/scss/5_templates/_template-archive.scss
Due: stylelint --syntax=scss, prettier --write

Update README.md
  wpcs/README.md
Due: prettier --write

Typos
  README.md
Due: prettier --write

Update setup.sh
  setup.sh
Due: prettier --write

Update install.sh
  install.sh
Due: prettier --write

Update PULL_REQUEST_TEMPLATE.md
  .github/PULL_REQUEST_TEMPLATE.md
Due: prettier --write

remove meta function and partial
  build/wp-content/themes/my-project/inc/extras.php
  build/wp-content/themes/my-project/partials/components/meta.php
Due: prettier --write

move static template
  build/wp-content/themes/my-project/page-static.php
Due: prettier --write

mixin rename and changes
  assets/scss/1_globals/_helpers.scss
  assets/scss/1_globals/mixins/_layout.scss
  assets/scss/1_globals/mixins/_typography.scss
  assets/scss/1_globals/static-styleguide/_styleguide.scss
  assets/scss/1_globals/variables/_colours.scss
  assets/scss/2_components/_typography.scss
Due: stylelint --syntax=scss, prettier --write

add track-focus
  assets/js/footer.js
  assets/js/modules/track-focus.js
Due: eslint --fix, prettier --write

change webpack css process
  assets/js/header.js
  assets/scss/editor.scss
  build/wp-content/themes/my-project/inc/enqueue-assets.php
  build/wp-content/themes/my-project/inc/theme-setup.php
  package.json
  webpack.config.js
Due: stylelint --syntax=scss, eslint --fix, prettier --write

lint-staged fix
  .lintstagedrc.json
Due: prettier --write

js sourcemaps on dev tasks
  webpack.config.js
Due: eslint --fix, prettier --write

stylelint rule ignore fix
  .stylelintrc.js
Due: eslint --fix, prettier --write

rm header.js and asset prefix enqueues
  assets/js/footer.js
  assets/js/header.js
  build/wp-content/themes/my-project/inc/enqueue-assets.php
  webpack.config.js
Due: eslint --fix, prettier --write

fix webpack
  webpack.config.js
Due: eslint --fix, prettier --write

editor.css fix
  assets/scss/editor.scss
  build/wp-content/themes/my-project/inc/enqueue-assets.php
  build/wp-content/themes/my-project/inc/theme-setup.php
Due: stylelint --syntax=scss, prettier --write

minor fix to single.php
  build/wp-content/themes/my-project/single.php
Due: prettier --write

scss changes
  assets/scss/1_globals/mixins/_layout.scss
  assets/scss/1_globals/variables/_colours.scss
Due: stylelint --syntax=scss, prettier --write

additions to entry-content css
  assets/scss/3_modules/_entry-content.scss
Due: stylelint --syntax=scss, prettier --write

Update footer.js
  assets/js/footer.js
Due: eslint --fix, prettier --write

Patched missing admin JS enqueue
  build/wp-content/themes/my-project/inc/enqueue-assets.php
Due: prettier --write

Add SVG upload code for media library with previews
  build/wp-content/mu-plugins/mkdo-core/php/class-allow-svg.php
  build/wp-content/mu-plugins/mkdo-core/plugin.php
Due: prettier --write

Add missing svg upload code
  assets/js/admin.js
  assets/js/modules/media-library.js
  build/wp-content/themes/my-project/inc/enqueue-assets.php
Due: eslint --fix, prettier --write

partials php remove
  build/local-config.php
  build/wp-content/themes/my-project/footer.php
  build/wp-content/themes/my-project/header.php
  build/wp-content/themes/my-project/inc/extras.php
  build/wp-content/themes/my-project/inc/template-tags.php
  build/wp-content/themes/my-project/partials/components/button.php
  build/wp-content/themes/my-project/partials/structures/site-footer.php
  build/wp-content/themes/my-project/partials/structures/site-header.php
Due: prettier --write

sg style fix
  assets/scss/1_globals/static-styleguide/_styleguide.scss
Due: stylelint --syntax=scss, prettier --write

example icons for sg
  assets/scss/1_globals/static-styleguide/_flags.scss
  assets/svgs/icon-chat.svg
  assets/svgs/icon-check-circle.svg
  assets/svgs/icon-cheveron-right.svg
  assets/svgs/icon-code.svg
  assets/svgs/icon-download.svg
  assets/svgs/icon-mail.svg
  assets/svgs/icon-map.svg
  assets/svgs/icon-menu.svg
  assets/svgs/icon-news.svg
  assets/svgs/icon-notification.svg
  assets/svgs/icon-search.svg
  assets/svgs/icon-trash.svg
  build/wp-content/themes/my-project/assets/svgs/icon-chat.svg
  build/wp-content/themes/my-project/assets/svgs/icon-check-circle.svg
  build/wp-content/themes/my-project/assets/svgs/icon-cheveron-right.svg
  build/wp-content/themes/my-project/assets/svgs/icon-code.svg
  build/wp-content/themes/my-project/assets/svgs/icon-download.svg
  build/wp-content/themes/my-project/assets/svgs/icon-mail.svg
  build/wp-content/themes/my-project/assets/svgs/icon-map.svg
  build/wp-content/themes/my-project/assets/svgs/icon-menu.svg
  build/wp-content/themes/my-project/assets/svgs/icon-news.svg
  build/wp-content/themes/my-project/assets/svgs/icon-notification.svg
  build/wp-content/themes/my-project/assets/svgs/icon-search.svg
  build/wp-content/themes/my-project/assets/svgs/icon-trash.svg
  build/wp-content/themes/my-project/partials/components/icons.php
Due: stylelint --syntax=scss, prettier --write

svgo fix
  assets/svgs/icon-chevron-right.svg
  build/wp-content/themes/my-project/assets/svgs/icon-chat.svg
  build/wp-content/themes/my-project/assets/svgs/icon-check-circle.svg
  build/wp-content/themes/my-project/assets/svgs/icon-cheveron-right.svg
  build/wp-content/themes/my-project/assets/svgs/icon-chevron-right.svg
  build/wp-content/themes/my-project/assets/svgs/icon-code.svg
  build/wp-content/themes/my-project/assets/svgs/icon-download.svg
  build/wp-content/themes/my-project/assets/svgs/icon-mail.svg
  build/wp-content/themes/my-project/assets/svgs/icon-map.svg
  build/wp-content/themes/my-project/assets/svgs/icon-menu.svg
  build/wp-content/themes/my-project/assets/svgs/icon-news.svg
  build/wp-content/themes/my-project/assets/svgs/icon-notification.svg
  build/wp-content/themes/my-project/assets/svgs/icon-search.svg
  build/wp-content/themes/my-project/assets/svgs/icon-trash.svg
  build/wp-content/themes/my-project/partials/components/button.php
  webpack.config.js
Due: eslint --fix, prettier --write

rm readme
  build/wp-content/themes/my-project/partials/readme.md
Due: prettier --write

mixin fixin
  assets/scss/1_globals/mixins/_layout.scss
Due: stylelint --syntax=scss, prettier --write
