Repository huub-l/mkdo-base: changes, and which lint-staged commands are due for each by the changed paths.
All: stylelint --fix, stylelint --fix --syntax=scss, eslint --fix, prettier --write

.lintstagedrc.json:

{
	"*.css": ["stylelint --fix", "git add"],
	"*.scss": ["stylelint --fix --syntax=scss", "git add"],
	"*.js": ["eslint --fix", "git add"],
	"*.{js,scss,md,html}": ["prettier --write", "git add"]
}

fix svg unneeded tags
  assets/svgs/icon-close.svg
  assets/svgs/icon-mobile-menu.svg
Due: none

untrack assets in theme folder
  build/wp-content/themes/my-project/assets/svgs/icon-chat.svg
  build/wp-content/themes/my-project/assets/svgs/icon-check-circle.svg
  build/wp-content/themes/my-project/assets/svgs/icon-chevron-right.svg
  build/wp-content/themes/my-project/assets/svgs/icon-close.svg
  build/wp-content/themes/my-project/assets/svgs/icon-code.svg
  build/wp-content/themes/my-project/assets/svgs/icon-download.svg
  build/wp-content/themes/my-project/assets/svgs/icon-mail.svg
  build/wp-content/themes/my-project/assets/svgs/icon-map.svg
  build/wp-content/themes/my-project/assets/svgs/icon-menu.svg
  build/wp-content/themes/my-project/assets/svgs/icon-mobile-menu.svg
  build/wp-content/themes/my-project/assets/svgs/icon-news.svg
  build/wp-content/themes/my-project/assets/svgs/icon-notification.svg
  build/wp-content/themes/my-project/assets/svgs/icon-search.svg
  build/wp-content/themes/my-project/assets/svgs/icon-trash.svg
Due: none

transition default change
  assets/scss/1_globals/reset/_reset.scss
Due: stylelint --fix --syntax=scss, prettier --write

update linting
  .huskyrc.js
  .lintstagedrc.json
  package.json
  wpcs.sh
Due: eslint --fix, prettier --write

Fix typo for variable name on cpt labels
  build/wp-content/mu-plugins/mkdo-core/php/post-types/example-cpt-review.php
Due: none

Also fix example taxonomy file
  build/wp-content/mu-plugins/mkdo-core/php/taxonomies/example-tax-review-category.php
Due: none

Merge QA repo template into MKDO Base
  .github/ISSUE_TEMPLATE/qa-checklist.md
Due: prettier --write

Update customizer.js
  assets/js/customizer.js
Due: eslint --fix, prettier --write

Update admin.js
  assets/js/admin.js
Due: eslint --fix, prettier --write

Update footer.js
  assets/js/footer.js
Due: eslint --fix, prettier --write

gitignore lang file
  .gitignore
  build/wp-content/languages/admin-en_GB.mo
  build/wp-content/languages/admin-en_GB.po
  build/wp-content/languages/admin-network-en_GB.mo
  build/wp-content/languages/admin-network-en_GB.po
  build/wp-content/languages/en_GB-0ce75ad2f775d1cac9696967d484808c.json
  build/wp-content/languages/en_GB-1a0cd6a7128913b15c1a10dd68951869.json
  build/wp-content/languages/en_GB-1bba9045bb07c89671c88a3f328548e8.json
  build/wp-content/languages/en_GB-28b3c3d595952907e08d98287077426c.json
  build/wp-content/languages/en_GB-2c5d274ea625dd91556554ad82901529.json
  build/wp-content/languages/en_GB-68f2cec7514bf8563c723a4d675fcfe6.json
  build/wp-content/languages/en_GB-7f13c36c641b114bf18cd0bcc9ecc7e0.json
  build/wp-content/languages/en_GB-8860e58c20c6a2ab5876a0f07be43bd9.json
  build/wp-content/languages/en_GB-a25d1cc7bf7ca0b4e114f6bea64943f4.json
  build/wp-content/languages/en_GB-bf0f094965d3d4a95b47babcb35fc136.json
  build/wp-content/languages/en_GB-f8f49d9fc4a9cf7d78ec99285417bd9c.json
  build/wp-content/languages/en_GB.mo
  build/wp-content/languages/en_GB.po
Due: none

rm global webpack check and huskyrc cp
  setup.sh
Due: none

Hotfix issue with base php
  build/wp-content/themes/my-project/inc/extras.php
Due: none

replace pass with auth ask repo privacy question print out error response
  setup.sh
Due: none

#2 add mkdo-permissions plugin into repo
  build/wp-content/mu-plugins/loader.php
  build/wp-content/mu-plugins/mkdo-permissions/README.md
  build/wp-content/mu-plugins/mkdo-permissions/php/class-customizer.php
  build/wp-content/mu-plugins/mkdo-permissions/php/class-disallow-file-mods.php
  build/wp-content/mu-plugins/mkdo-permissions/plugin.php
Due: prettier --write

WIP new readme
  README-WORKFLOW.md
Due: prettier --write

Update README-WORKFLOW.md
  README-WORKFLOW.md
Due: prettier --write

Update setup.sh
  setup.sh
Due: none

Update local-config.php
  build/local-config.php
Due: none

Create mkdo-limit-login-attempts.php
  build/wp-content/mu-plugins/mkdo-limit-login-attempts.php
Due: none

Update loader.php
  build/wp-content/mu-plugins/loader.php
Due: none

Delete class-limit-login-attempts.php
  build/wp-content/mu-plugins/mkdo-core/php/mkdo-core/security/class-limit-login-attempts.php
Due: none

Removed limit login options
  build/wp-content/mu-plugins/mkdo-core/plugin.php
Due: none

Delete development-task.md
  .github/ISSUE_TEMPLATE/development-task.md
Due: prettier --write

Delete qa-checklist.md
  .github/ISSUE_TEMPLATE/qa-checklist.md
Due: prettier --write

Update PULL_REQUEST_TEMPLATE.md
  .github/PULL_REQUEST_TEMPLATE.md
Due: prettier --write

Update bug-report.md
  .github/ISSUE_TEMPLATE/bug-report.md
Due: prettier --write

Create new_task.md
  .github/ISSUE_TEMPLATE/new_task.md
Due: prettier --write

Essentials WIP - includes need refactoring.
  build/wp-content/mu-plugins/mkdo-essentials/inc/accessibility.php
  build/wp-content/mu-plugins/mkdo-essentials/inc/admin.php
  build/wp-content/mu-plugins/mkdo-essentials/inc/class-body-classes.php
  build/wp-content/mu-plugins/mkdo-essentials/inc/class-comments.php
  build/wp-content/mu-plugins/mkdo-essentials/inc/class-dashboard-widgets.php
  build/wp-content/mu-plugins/mkdo-essentials/inc/class-disallow-file-mods.php
  build/wp-content/mu-plugins/mkdo-essentials/inc/class-helpers.php
  build/wp-content/mu-plugins/mkdo-essentials/inc/class-hosting.php
  build/wp-content/mu-plugins/mkdo-essentials/inc/class-login-one-user-instance.php
  build/wp-content/mu-plugins/mkdo-essentials/inc/class-post-content-clean.php
  build/wp-content/mu-plugins/mkdo-essentials/inc/class-post-formats.php
  build/wp-content/mu-plugins/mkdo-essentials/inc/const-disallow-file-edit.php
  build/wp-content/mu-plugins/mkdo-essentials/inc/content.php
  build/wp-content/mu-plugins/mkdo-essentials/inc/language.php
  build/wp-content/mu-plugins/mkdo-essentials/inc/media.php
  build/wp-content/mu-plugins/mkdo-essentials/inc/security.php
  build/wp-content/mu-plugins/mkdo-essentials/inc/seo.php
  build/wp-content/mu-plugins/mkdo-essentials/inc/server.php
  build/wp-content/mu-plugins/mkdo-essentials/inc/user.php
  build/wp-content/mu-plugins/mkdo-essentials/plugin.php
  build/wp-content/mu-plugins/mkdo-essentials/triage/class-site-map-links.php
  build/wp-content/mu-plugins/mkdo-essentials/triage/class-site-map-per-language.php
  build/wp-content/themes/my-project/inc/theme-setup.php
Due: none

Proof of concept working.
  build/local-config.php
  build/wp-content/mu-plugins/mkdo-data-model/inc/customizer-fields.php
  build/wp-content/mu-plugins/mkdo-data-model/inc/meta-boxes.php
  build/wp-content/mu-plugins/mkdo-data-model/inc/post-types.php
  build/wp-content/mu-plugins/mkdo-data-model/inc/taxonomies.php
  build/wp-content/mu-plugins/mkdo-essentials/inc/accessibility.php
  build/wp-content/mu-plugins/mkdo-essentials/inc/features/make-iframes-wcag-compliant.php
  build/wp-content/mu-plugins/mkdo-essentials/inc/seo.php
  build/wp-content/mu-plugins/mkdo-essentials/inc/settings.php
  build/wp-content/mu-plugins/mkdo-essentials/plugin.php
  build/wp-content/mu-plugins/mkdo-essentials/triage/admin.php
  build/wp-content/mu-plugins/mkdo-essentials/triage/class-site-map-per-language.php
  build/wp-content/mu-plugins/mkdo-essentials/triage/content.php
  build/wp-content/mu-plugins/mkdo-essentials/triage/language.php
  build/wp-content/mu-plugins/mkdo-essentials/triage/media.php
  build/wp-content/mu-plugins/mkdo-essentials/triage/security.php
  build/wp-content/mu-plugins/mkdo-essentials/triage/seo.php
  build/wp-content/mu-plugins/mkdo-essentials/triage/server.php
  build/wp-content/mu-plugins/mkdo-essentials/triage/user.php
Due: none

1st draft 90% ready.
  build/wp-content/mu-plugins/mkdo-essentials/inc/example-feature.php
  build/wp-content/mu-plugins/mkdo-essentials/inc/features/add-bing-compatible-wpml-meta.php
  build/wp-content/mu-plugins/mkdo-essentials/inc/features/add-same-origin-header-for-iframes.php
  build/wp-content/mu-plugins/mkdo-essentials/inc/features/add-wpml-content-language-header.php
  build/wp-content/mu-plugins/mkdo-essentials/inc/features/add-yoast-wpml-sitemap-per-language.php
  build/wp-content/mu-plugins/mkdo-essentials/inc/features/allow-svgs-in-media-library.php
  build/wp-content/mu-plugins/mkdo-essentials/inc/features/limit-login-attempts.php
  build/wp-content/mu-plugins/mkdo-essentials/inc/features/modify-iframes-for-compliance.php
  build/wp-content/mu-plugins/mkdo-essentials/inc/features/modify-wpe-menu.php
  build/wp-content/mu-plugins/mkdo-essentials/inc/features/prevent-multiple-user-login-instances.php
  build/wp-content/mu-plugins/mkdo-essentials/inc/features/prevent-robots-on-wpe-staging.php
  build/wp-content/mu-plugins/mkdo-essentials/inc/features/remove-admin-bar-for-non-admins.php
  build/wp-content/mu-plugins/mkdo-essentials/inc/features/remove-comments.php
  build/wp-content/mu-plugins/mkdo-essentials/inc/features/remove-dashboard-widgets.php
  build/wp-content/mu-plugins/mkdo-essentials/inc/features/remove-emoji-support.php
  build/wp-content/mu-plugins/mkdo-essentials/inc/features/remove-personal-data-menu.php
  build/wp-content/mu-plugins/mkdo-essentials/inc/features/remove-site-health-menu.php
  build/wp-content/mu-plugins/mkdo-essentials/inc/settings.php
  build/wp-content/mu-plugins/mkdo-essentials/languages/.gitkeep
  build/wp-content/mu-plugins/mkdo-essentials/triage/admin.php
  build/wp-content/mu-plugins/mkdo-essentials/triage/content.php
  build/wp-content/mu-plugins/mkdo-essentials/triage/language.php
  build/wp-content/mu-plugins/mkdo-essentials/triage/media.php
  build/wp-content/mu-plugins/mkdo-essentials/triage/security.php
  build/wp-content/mu-plugins/mkdo-essentials/triage/seo.php
  build/wp-content/mu-plugins/mkdo-essentials/triage/server.php
  build/wp-content/mu-plugins/mkdo-essentials/triage/user.php
Due: none

Final bits and tidy up
  .gitignore
  build/wp-content/mu-plugins/mkdo-essentials/inc/features/add-bing-compatible-wpml-meta.php
  build/wp-content/mu-plugins/mkdo-essentials/inc/features/add-same-origin-header-for-iframes.php
  build/wp-content/mu-plugins/mkdo-essentials/inc/features/add-wpml-content-language-header.php
  build/wp-content/mu-plugins/mkdo-essentials/inc/features/add-yoast-wpml-sitemap-per-language.php
  build/wp-content/mu-plugins/mkdo-essentials/inc/features/allow-svgs-in-media-library.php
  build/wp-content/mu-plugins/mkdo-essentials/inc/features/limit-login-attempts.php
  build/wp-content/mu-plugins/mkdo-essentials/inc/features/modify-iframes-for-compliance.php
  build/wp-content/mu-plugins/mkdo-essentials/inc/features/modify-wpe-menu.php
  build/wp-content/mu-plugins/mkdo-essentials/inc/features/prevent-multiple-user-login-instances.php
  build/wp-content/mu-plugins/mkdo-essentials/inc/features/prevent-robots-on-wpe-staging.php
  build/wp-content/mu-plugins/mkdo-essentials/inc/features/remove-admin-bar-for-non-admins.php
  build/wp-content/mu-plugins/mkdo-essentials/inc/features/remove-comments.php
  build/wp-content/mu-plugins/mkdo-essentials/inc/features/remove-dashboard-widgets.php
  build/wp-content/mu-plugins/mkdo-essentials/inc/features/remove-emoji-support.php
  build/wp-content/mu-plugins/mkdo-essentials/inc/features/remove-site-health-menu.php
  build/wp-content/mu-plugins/mkdo-essentials/inc/settings.php
  build/wp-content/mu-plugins/mkdo-essentials/plugin.php
Due: none

More essentials tweaks.
  build/wp-content/mu-plugins/mkdo-essentials/inc/features/remove-dashboard-widgets.php
  build/wp-content/mu-plugins/mkdo-essentials/inc/features/remove-emoji-support.php
  build/wp-content/mu-plugins/mkdo-essentials/inc/features/remove-personal-data-menu.php
Due: none

Small tweaks.
  build/wp-content/mu-plugins/mkdo-essentials/inc/features/add-yoast-wpml-sitemap-per-language.php
  build/wp-content/mu-plugins/mkdo-essentials/inc/features/limit-login-attempts.php
Due: none

Create README.md
  build/wp-content/mu-plugins/README.md
Due: prettier --write

Update README.md
  build/wp-content/mu-plugins/README.md
Due: prettier --write
