Repository huub-l/mkdo-base: changes, and which lint-staged commands are due for each by the changed paths.
All: stylelint --fix, stylelint --fix --syntax=scss, eslint --fix, prettier --write

Update README.md
  README.md
Due: prettier --write

Delete .deployignore
  .deployignore
Due: none

Update phpcs.xml
  phpcs.xml
Due: none

Updated deps.
  package-lock.json
  package.json
  yarn.lock
Due: none

Update README.md
  wpcs/README.md
Due: prettier --write

Updated labels
  setup.sh
Due: none

Theme tweaks.
  build/wp-content/themes/my-project/archive.php
  build/wp-content/themes/my-project/footer.php
  build/wp-content/themes/my-project/front-page.php
  build/wp-content/themes/my-project/inc/extras.php
  build/wp-content/themes/my-project/inc/template-tags.php
  build/wp-content/themes/my-project/inc/theme-setup.php
  build/wp-content/themes/my-project/index.php
  build/wp-content/themes/my-project/page-static.php
  build/wp-content/themes/my-project/partials/structures/site-footer.php
  build/wp-content/themes/my-project/partials/structures/site-header.php
  build/wp-content/themes/my-project/search.php
  build/wp-content/themes/my-project/searchform.php
Due: none

rm rwd-bg-images
  assets/js/footer.js
  assets/js/modules/rwd-bg-images.js
Due: eslint --fix, prettier --write

rm unused js
  assets/js/modules/cookie.js
  assets/js/modules/media-library.js
  assets/js/modules/utils.js
Due: eslint --fix, prettier --write

Update README-WORKFLOW.md
  README-WORKFLOW.md
Due: prettier --write

Update install.sh
  install.sh
Due: none

Update setup.sh
  setup.sh
Due: none

Update template-tags.php
  build/wp-content/themes/my-project/inc/template-tags.php
Due: none

template tags
  wp-content/themes/my-project/includes/template-tags.php
Due: none

Delete template-tags.php
  build/wp-content/themes/my-project/inc/template-tags.php
Due: none

Delete package-lock.json
  package-lock.json
Due: none

Updated deps.
  yarn.lock
Due: none

front-end readme init
  wp-content/themes/my-project/assets/src/scripts/README.md
  wp-content/themes/my-project/assets/src/styles/README.md
  wp-content/themes/my-project/assets/src/svgs/README.md
Due: prettier --write

rm more cached files
  wp-content/debug.log
  wp-content/languages/en_GB-4a38fe1c0c45989e44682ba6109d9f46.json
  wp-content/languages/en_GB-803bf1ce2131e13efc590c1bc47851fc.json
  wp-content/languages/plugins/akismet-en_GB.mo
  wp-content/languages/plugins/akismet-en_GB.po
  wp-content/languages/themes/twentynineteen-en_GB.mo
  wp-content/languages/themes/twentynineteen-en_GB.po
  wp-content/languages/themes/twentyseventeen-en_GB.mo
  wp-content/languages/themes/twentyseventeen-en_GB.po
  wp-content/languages/themes/twentysixteen-en_GB.mo
  wp-content/languages/themes/twentysixteen-en_GB.po
Due: none

rm cached dist files
  wp-content/themes/my-project/assets/dist/scripts/admin.js
  wp-content/themes/my-project/assets/dist/scripts/customizer.js
  wp-content/themes/my-project/assets/dist/scripts/footer.js
  wp-content/themes/my-project/assets/dist/styles/admin.css
  wp-content/themes/my-project/assets/dist/styles/admin.js
  wp-content/themes/my-project/assets/dist/styles/editor.css
  wp-content/themes/my-project/assets/dist/styles/editor.js
  wp-content/themes/my-project/assets/dist/svgs/icon-chat.svg
  wp-content/themes/my-project/assets/dist/svgs/icon-check-circle.svg
  wp-content/themes/my-project/assets/dist/svgs/icon-chevron-right.svg
  wp-content/themes/my-project/assets/dist/svgs/icon-close.svg
  wp-content/themes/my-project/assets/dist/svgs/icon-code.svg
  wp-content/themes/my-project/assets/dist/svgs/icon-download.svg
  wp-content/themes/my-project/assets/dist/svgs/icon-mail.svg
  wp-content/themes/my-project/assets/dist/svgs/icon-map.svg
  wp-content/themes/my-project/assets/dist/svgs/icon-menu.svg
  wp-content/themes/my-project/assets/dist/svgs/icon-mobile-menu.svg
  wp-content/themes/my-project/assets/dist/svgs/icon-news.svg
  wp-content/themes/my-project/assets/dist/svgs/icon-notification.svg
  wp-content/themes/my-project/assets/dist/svgs/icon-search.svg
  wp-content/themes/my-project/assets/dist/svgs/icon-trash.svg
  wp-content/themes/my-project/style.css
Due: stylelint --fix, eslint --fix, prettier --write

fix svg paths
  wp-content/themes/my-project/includes/images.php
  wp-content/themes/my-project/template-parts/components/icons.php
Due: none

fix compiler
  .stylelintrc.js
  webpack.config.js
Due: eslint --fix, prettier --write

config updates
  .eslintrc.js
  package.json
  postcss.config.js
  webpack.config.js
  yarn.lock
Due: eslint --fix, prettier --write

scss cleanup
  wp-content/themes/my-project/assets/src/styles/1_globals/_base.scss
  wp-content/themes/my-project/assets/src/styles/1_globals/_globals.scss
  wp-content/themes/my-project/assets/src/styles/1_globals/_helpers.scss
  wp-content/themes/my-project/assets/src/styles/1_globals/mixins/_background.scss
  wp-content/themes/my-project/assets/src/styles/1_globals/mixins/_effects.scss
  wp-content/themes/my-project/assets/src/styles/1_globals/mixins/_layout.scss
  wp-content/themes/my-project/assets/src/styles/1_globals/reset/_wordpress.scss
  wp-content/themes/my-project/assets/src/styles/editor.scss
Due: stylelint --fix --syntax=scss, prettier --write

update site-wrap mixin to variable gutter
  wp-content/themes/my-project/assets/src/styles/1_globals/mixins/_layout.scss
Due: stylelint --fix --syntax=scss, prettier --write

upgrade deps to latest
  package.json
  yarn.lock
Due: none

fix for postcss file change
  setup.sh
Due: none

Disable local image path resolution
  webpack.config.js
Due: eslint --fix, prettier --write

Minor updates after some testing
  install.sh
Due: none

Path conditions:
  stylelint --fix: any of: *.css
  stylelint --fix --syntax=scss: any of: *.scss
  eslint --fix: any of: *.js
  prettier --write: any of: *.{js,scss,md,html}
